[submodule "MyPythonUtility"]
	path = MyPythonUtility
	url = https://github.com/SleepySoft/MyPythonUtility.git
	branch = main
[submodule "PyLoggingBackend"]
	path = PyLoggingBackend
	url = https://github.com/SleepySoft/PyLoggingBackend.git
[submodule "IntelligenceCrawler"]
	path = IntelligenceCrawler
	url = https://github.com/SleepySoft/IntelligenceCrawler.git
	branch = main
[submodule "AIClientCenter"]
	path = AIClientCenter
	url = https://github.com/SleepySoft/AIClientCenter.git
	branch = main
